.ebent-preloader-wrapper {
    position: fixed;
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}